@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background-image: url('https://res.cloudinary.com/drlfxqsvg/image/upload/v1692033104/Demo_vo64dx.svg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  /* position: relative; */
  font-family: "Chakra Petch", sans-serif;
  color: black;
  margin: 0;
}

.sideNav {
  /* transform: rotate(270deg);  */
 position: absolute;
  top: 50%;
  left: 0; 
}
